<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Find a Pharmacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-container">
    <img src="assets/imgs/header-nav.jpg" alt="">
  </div>
  <div class="cat-menu">
    <ion-grid>
      <ion-row class="cat-row" text-center>
        <ion-col size="5" class="cat-col">
          <ion-button text-center fill="none" expand="block">
            <ion-label>
              <img src="assets/imgs/pharmacy11.svg" alt="">
              <p>Pharmacy 01</p>
            </ion-label>
          </ion-button>
        </ion-col>

        <ion-col size="5" class="cat-col">
            <ion-button text-center fill="none" expand="block">
              <ion-label>
                <img src="assets/imgs/pharmacy11.svg" alt="">
                <p>Pharmacy 02</p>
              </ion-label>
            </ion-button>
          </ion-col>
      </ion-row>

      <ion-row class="cat-row" text-center>
          <ion-col size="5" class="cat-col">
            <ion-button text-center fill="none" expand="block">
              <ion-label>
                <img src="assets/imgs/pharmacy11.svg" alt="">
                <p>Pharmacy 03</p>
              </ion-label>
            </ion-button>
          </ion-col>
  
          <ion-col size="5" class="cat-col">
              <ion-button text-center fill="none" expand="block">
                <ion-label>
                  <img src="assets/imgs/pharmacy11.svg" alt="">
                  <p>Pharmacy 04</p>
                </ion-label>
              </ion-button>
            </ion-col>
        </ion-row>


        <ion-row class="cat-row" text-center>
            <ion-col size="5" class="cat-col">
              <ion-button text-center fill="none" expand="block">
                <ion-label>
                  <img src="assets/imgs/pharmacy11.svg" alt="">
                  <p>Pharmacy 05</p>
                </ion-label>
              </ion-button>
            </ion-col>
    
            <ion-col size="5" class="cat-col">
                <ion-button text-center fill="none" expand="block">
                  <ion-label>
                    <img src="assets/imgs/pharmacy11.svg" alt="">
                    <p>Pharmacy 06</p>
                  </ion-label>
                </ion-button>
              </ion-col>
          </ion-row>

    </ion-grid>
  </div>
</ion-content>