<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item button >
        <ion-icon slot="start" name="calendar" style="color:'#3575AC';"></ion-icon>
        <ion-label>
          <h3>Appointments</h3>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward" style="color:'#3575AC';"></ion-icon>

      </ion-item>
      <ion-item button >
        <ion-icon slot="start" name="book" style="color:'#3575AC';"></ion-icon>
        <ion-label>
          <h3>Personal Details</h3>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward" style="color:'#3575AC';"></ion-icon>

      </ion-item>
      <ion-item button >
        <ion-icon slot="start" name="clipboard" style="color:'#3575AC';"></ion-icon>
        <ion-label>
          <h3>Family Doctor Details</h3>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward" style="color:'#3575AC';"></ion-icon>

      </ion-item>
      <ion-item button >
        <ion-icon slot="start" name="contacts" style="color:'#3575AC';"></ion-icon>
        <ion-label>
          <h3>Medical History</h3>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward" style="color:'#3575AC';"></ion-icon>

      </ion-item>
      <ion-item button >
        <ion-icon slot="start" name="clock" style="color:'#3575AC';"></ion-icon>
        <ion-label>
          <h3>Medications</h3>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward" style="color:'#3575AC';"></ion-icon>

      </ion-item>
      <ion-item button >
        <ion-icon slot="start" name="document" style="color:'#3575AC';"></ion-icon>
        <ion-label>
          <h3>Allergies</h3>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward" style="color:'#3575AC';"></ion-icon>

      </ion-item>
      <ion-item button >
        <ion-icon slot="start" name="medkit" style="color:'#3575AC';"></ion-icon>
        <ion-label>
          <h3>pharmacies</h3>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward" style="color:'#3575AC';"></ion-icon>

      </ion-item>
      <ion-item button >
        <ion-icon slot="start" name="chatbubbles" style="color:'#3575AC';"></ion-icon>
        <ion-label>
          <h3>Chat History</h3>
        </ion-label>
        <ion-icon slot="end" name="ios-arrow-forward" style="color:'#3575AC';"></ion-icon>
      </ion-item>
</ion-content>
<footer></footer>
