<ion-header no-border>
    
	<ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
		<ion-title text-center>Select Call type</ion-title>

	</ion-toolbar>

</ion-header>

<ion-content>
    <div class="header-container">
		<img src="assets/imgs/header-nav.jpg" alt="">
	</div>

	<div class="btns-holder" padding>

		<ion-button expand="block" text-center >
			Video Call
        </ion-button>
        
        <ion-button expand="block" text-center >
			Voice Call
		</ion-button>
		
	</div>
	
	<div class="" padding>

		
		
	</div>
		

	<div class="bottom-img-holder" padding-horizontal>
		<img src="assets/imgs/login-bottom-img.svg" alt="">
	</div>
</ion-content>
<footer></footer>